.face_container{
    /*background-color: #0dcaf0;*/
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #0B182C;
}

.face_header{
    width: 100%;
    height: 8%;

}

.face_title{
    color: white;
    position: absolute;
    left: 50%;
    top: 8%;
}

.face_video{
    background-color: #4b4b4b;
    height: 85%;
    width: 95%;
    /*margin-top: 5px;*/
    /*margin-left: 5%;*/
    float: left;
    margin-left: 2.5%;
}

.emotion_video{
    background-color: #4b4b4b;
    height: 85%;
    width: 95%;
    /*margin-top: 5px;*/
    /*margin-left: 5%;*/
    float: left;
    margin-left: 2.5%;
}

.face_box{
    position: absolute;
    height: 40%;
    width: 30%;
    border-radius: 3%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: #14233b;
    background-repeat: no-repeat;
    background-position: 1px 1px, 0px 0px, 0px 0px, 0px 100%, 0px 100%, 100% 0px, 100% 0px, 100% 100%, 100% 100%, 0px 0px, 0px 100%, 0px 100%, 100% 100%;
    background-size: calc(100% - 2px) calc(100% - 2px), 1px 10px, 10px 1px, 1px 10px, 10px 1px, 1px 10px, 10px 1px, 1px 10px, 10px 1px, 100% 1px, 100% 1px, 1px 100%, 1px 100%;
    left: 15%;
    top: 16%;
}

.emotion_box{
    position: absolute;
    height: 40%;
    width: 30%;
    border-radius: 3%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: #14233b;
    background-repeat: no-repeat;
    background-position: 1px 1px, 0px 0px, 0px 0px, 0px 100%, 0px 100%, 100% 0px, 100% 0px, 100% 100%, 100% 100%, 0px 0px, 0px 100%, 0px 100%, 100% 100%;
    background-size: calc(100% - 2px) calc(100% - 2px), 1px 10px, 10px 1px, 1px 10px, 10px 1px, 1px 10px, 10px 1px, 1px 10px, 10px 1px, 100% 1px, 100% 1px, 1px 100%, 1px 100%;
    left: 47%;
    top: 16%;
}


.light_div{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 30px;
    /*background-color: #0f5132;*/
}
.circle_light1 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 50px;
}

.red{
    background-color: #f57373;
}

.green{
    background-color: darkseagreen;
}

.yellow{
    background-color: #fcfca0;
}

.face_info{
    width: 100%;
    height: 36px;
    /*background-color: #86d986;*/
    margin-left: 3%;
    margin-top: 0px;
}

.recognize_res{
    margin-left: 26%;
    width:120px;
    height: 120px;
    text-align: center;
    /*background-color: darkcyan;*/
}

.face_result{
    position: absolute;
    display: inline-block;
    padding: 25px 30px;
    /*text-decoration: none;*/
    /*text-transform: uppercase;*/
    transition: 0.5s;
    border-radius: 3%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: #14233b;
    background-repeat: no-repeat;
    background-position: 1px 1px, 0px 0px, 0px 0px, 0px 100%, 0px 100%, 100% 0px, 100% 0px, 100% 100%, 100% 100%, 0px 0px, 0px 100%, 0px 100%, 100% 100%;
    background-size: calc(100% - 2px) calc(100% - 2px), 1px 10px, 10px 1px, 1px 10px, 10px 1px, 1px 10px, 10px 1px, 1px 10px, 10px 1px, 100% 1px, 100% 1px, 1px 100%, 1px 100%;
    left: 79%;
    top: 16%;
}



.face_result {
    height: 80vh;
    width: 20vw;
    border-left: 2px solid transparent;
    animation: animateBorder 1s linear infinite;
}

@keyframes animateBorder {
    0% {
        border-color: transparent;
    }
    50%, 100% {
        border-color: #03e9f4;
    }

}

.record_list {
    position: absolute;
    border-collapse: collapse;
    width: 23%;
    border: 1px solid #7a7a7a; /* 添加外边框 */
    margin-top: 2%;
    height: 3%;
    margin-left: 2%;
    left: 11%;
    top: 56%;
}


.record_list th, .record_list td {
    text-align: left;
    color: #0c0c0c; /* 修改字体颜色 */
    font-size: 12px; /* 修改字体大小 */
    padding: 8px  5px;
    border-bottom: 1px solid #7a7a7a; /* 添加底部边框 */
    height: 8%;
}

.record_list tr:nth-child(even) {
    background-color: #ffffff;
}

.record_list tr:nth-child(odd) {
    background-color: #ffffff;
}

.record_list th {
    background-color: #b1eadc;
    color: #0c0c0c;
    padding: 8px  4px;
    height: 8%;
}
.data_show{
    width: 100%;
    height: 40%;
    /*background-color: #0f5132;*/
    display: flex;
    flex-direction: row;
}

.emotion_bar{
    position: absolute;
    width: 18%;
    height: 26%;
    background-color: #ffffff;
    border-radius: 1.25rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 10px;
    left: 36%;
    top: 59%;
}

.emotion_info{
    width: 100%;
    height: 11%;
    display: flex;
    flex-direction: row;
    /*background-color: #8ce196;*/
}

.rightbar{
    /*width: 50%;*/
    height: 40%;
    margin: 6px;

}

.emotion_graph{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60%;
    /*background-color: #8ce196;*/
}

.line_box{
    position: absolute;
    left: 55%;
    top: 57%;
    width: 22%;
    height: 30%;
    padding: 2.59rem 1.58rem 5.09rem 1.58rem;
    background-color: #ffffff;
    border-radius: 1.25rem;
    box-shadow: 0rem 0rem 1.25rem #655af933;
}

.line_graph{
    width: 110%;
    height: 150%;
}

.pie_graph{
    width: 40%;
    height: 100%;
    /*background-color: #c6e5e7;*/
}

.music_player{
    width: 100%;
    height: 20%;
    /*background-color: #8ce196;*/
    margin-top: 40%;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#player{
    position: relative;
    top: 0px;
    left:0px;
    width: 100%;
    height: 80%;
}
/* 歌曲信息模块 */
#player-content1{
    position: absolute;
    top:0px;
    left:5px;
    width:92%;
    height:90%;
    padding:0 20px 0 95px;
    background: rgb(209, 226, 245);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* transition过渡动画：设置top属性过渡，过渡时间0.3s,速度曲线为ease(逐渐变慢) */
    transition:top 0.3s ease;
}
#player-content1.active{
    top:-70px;
}
.music-name,
.artist-name{
    height: 20px;
    margin-top:5px;
    font-size:16px;
    margin-left: 20%;
}
.artist-name{
    font-size:12px;
    color: #656565
}
.time{
    font-size:9px;
    height:30%;
    margin: 0px 0;
    width: 90%;
    margin-left: 10%;
    /*background-color: #0a53be;*/
}
.current-time{
    float: left;
    margin-left:6%;
}
.total-time{
    float: right;
}
.current-time,.total-time{
    color: transparent;
    font-size: 10px;
    background-color: #e8f5ff;
    border-radius: 10px;
    transition: 0.3s ease all;
    margin-top:3%

}
.time.active .current-time, .time.active .total-time{
    color: rgb(54, 127, 196);
    background-color: transparent;
}


#s-area, #seek-bar{
    position: relative;
    height: 5px;
    border-radius: 4px;
}


#s-area{
    background-color:#e8f5ff;
    cursor: pointer;
    width: 84%;
    margin-left: 18%;
    margin-top:-2%;
}

#ins-time{
    position: absolute;
    top: -29px;
    color: #fff;
    font-size: 16px;
    white-space: pre;
    padding: 5px 6px;
    border-radius: 4px;
    display:none;
}

#s-hover{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 2;
}

#ins-time, #s-hover{
    background-color: #4b4d5c;
}

#seek-bar{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: rgb(54, 127, 196);
    transition: 0.2s ease width;
}

#player-content2{
    position: relative;
    width:97%;
    height:91%;

    background: #fff;
    border-radius: 20px;
    box-shadow: 0 30px 80px #656565;
}
/* 左侧封面图模块 */
.music-imgs{
    position: absolute;
    top: -33px;
    width: 30%;
    height: 80%;
    margin-left: 20px;
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
    transition: 0.3s ease all;
    box-shadow: 0 0 0 6px #fff;
    border-radius: 50%;
    overflow: hidden;
}
/* 左侧封面图模块添加了active类名 */
.music-imgs.active{
    top: -50px;
    box-shadow: 0 0 0 4px #e8f5ff, 0 30px 50px -15px #afb7c1;
}
.music-imgs:before{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: -10px auto 0 auto;
    background-color: #d6dee7;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #fff;
    z-index: 2;
}
/* 左侧封面图模块下的 图片div */
.music-imgs .img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: #0f5132;*/
}
/* 封面图模块添加了active类名后，图片div的样式添加 */
.music-imgs.active .img{
    z-index: 1;
    -webkit-animation: rotateAlbumArt 3s linear 0s infinite forwards;
    animation: rotateAlbumArt 3s linear 0s infinite forwards;
    background-size: cover;
}
@-webkit-keyframes rotateAlbumArt
{
    0%{ -webkit-transform: rotateZ(0); transform: rotateZ(0); }
    100%{ -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}

@keyframes rotateAlbumArt
{
    0%{ -webkit-transform: rotateZ(0); transform: rotateZ(0); }
    100%{ -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}
#buffer-box
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 13px;
    color: #1f1f1f;
    font-size: 13px;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding: 6px;
    margin: -12px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.19);
    opacity: 0;
    z-index: 2;
}

.music-imgs .img, #buffer-box
{
    transition: 0.1s linear all;
}

.music-imgs.buffering .img
{
    opacity: 0.25;
}

.music-imgs.buffering .img.active
{
    opacity: 0.8;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.music-imgs.buffering #buffer-box
{
    opacity: 1;
}

.player-controls{
    /*position: absolute;*/
    left:150px;
    /*background-color: rgba(182, 246, 243, 0.65);*/
    display: flex;
    flex-direction: row;
}
.player-controls .btn{
    /*float: left;*/
    width:40px;
    height:40px;
    line-height: 60px;
    font-size:24px;
    color:#D6DEE7;
    margin-top: 13%;
    margin-left: 17%;
}

.text_1{
    margin-left: 2%;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 3px;
    line-height: 1.91rem;
}