.guesture_container{
    width: 100vw;
    height: 100vh;
    /*margin-left: 18%;*/
}

.guesture_header{
    width: 100%;
    height: 10%;
    /*text-align: center;*/
    /*background-color: #8ce196;*/
}

.guesture_video1{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 23%;
    top: 18%;
    width: 38vw;
    height: 54vh;
    margin-left: 10%;
    text-align: center;
    align-items: center;
    background-color: rgba(21, 20, 35, 0.68);
    border-radius: 1.75rem;
    box-shadow: 0rem 0rem 0.19rem #202124 inset, -0.31rem -0.31rem 0.75rem #232239, 0.38rem 0.38rem 0.75rem #121120;
    border-left: solid 0.063rem #26243f;
    border-right: solid 0.063rem #26243f;
    border-top: solid 0.063rem #26243f;
    border-bottom: solid 0.063rem #26243f;
}

.lamp_container{
    width: 95%;
    height: 40%;
    /*background-color: #0dcaf0;*/

    padding: 1.19rem 0.75rem 1.16rem;
    background-image: linear-gradient(180deg, #33caba 0%, #2baa5d 100%);
    border-radius: 1.38rem;
    margin: 2%;
}


.lamp_container1{
    width: 95%;
    height: 40%;
    /*background-color: #0dcaf0;*/

    padding: 1.19rem 0.75rem 1.16rem;
    background-image: linear-gradient(132.5deg, #fa7d74 16.7%, #f94e39 84.2%);
    border-left: solid 0.063rem #fda8a3;
    border-right: solid 0.063rem #fda8a3;
    border-top: solid 0.063rem #fda8a3;
    border-bottom: solid 0.063rem #fda8a3;
    border-radius: 1.38rem;
    margin: 2%;
}

.switchs_container{
    width: 4vw;
    height: 26px;
    /*background-color: #0f5132;*/
    margin-left: 34%;
    margin-top: 4%;
}

.cmn-toggle {
    position: absolute;
    /*margin-left: 45px;*/
    visibility: hidden;
}
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

input.cmn-toggle-round + label {
    padding: 2px;
    /*width: 120px;*/
    /*height: 60px;*/
    width: 40px;
    height: 20px;
    background-color: #dddddd;
    border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
    width: 20px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
    background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
    margin-left: 20px;
}

.gesture_library{
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 180px;
    margin-top: 14px;
    width: 885px;
    /*background-color: #0a58ca;*/
    border-radius: 5px;
    /*background-color: rgba(185, 250, 252, 0.6);*/
    margin-left: 30%;
    top: 74%;
}

.guesture_lib_img{
    width: 120px;
    height: 80%;
    margin-left: 5px;
    /*background-color: #0dcaf0;*/
    margin-top: 10px;
}

.guesture_lib_child{
    width: 120px;
    height: 100%;
    margin-left: 6px;
    text-align: center;
    align-content: center;
    border-radius: 5%;
    /*background-color: #0dcaf0;*/
}

.circle-light {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 45%;
    margin-top: 6px;
    background-color: #b7b7b7; /* 初始颜色为灰色 */
}

.color-1 {
    background-color: #86d986; /* 样式1：绿色 */
}

.color-2 {
    background-color: #b7b7b7; /* 样式2：灰色 */
}


.section {
    width: 100%;
    height: 0%;
    padding: 4.75rem 0 0.75rem;
    background-image: url('https://ide.code.fun/api/image?token=65f7f14e731c75001100612a&name=9e864a1d9dfc72a9c1e930aa33eef8b0.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.image_2 {
    width: 53.31rem;
    height: 1rem;
}
.image_3 {
    position: absolute;
    /*margin-left: 64.38rem;*/
    margin-top: -0.6%;
}
.image_4 {
    position: absolute;
    left: 61.5%;
    margin-top: -0.6%;
}
.image {
    width: 99.1927vw;
    height: 1.3281vw;
}
.pos_2 {
    position: absolute;
    left: 1%;
    right: 0;
    bottom: 86%;
}
.text {
    color: #16c6f6;
    font-size: 2.0rem;
    font-family: SourceHanSansCN;
    font-weight: 400;
    line-height: 0.33rem;
}
.pos {
    position: absolute;
    left: 45%;
    /*top: 0%;*/
    margin-top: -1%;
}

.device_viewer{
    position: absolute;
    width: 25%;
    height: 100%;
    left: 73%;
    top: 15%;
    background-color: #151423;
    box-shadow: 0rem 0rem 0.19rem #202124 inset, -0.31rem -0.31rem 0.75rem #232239, 0.38rem 0.38rem 0.75rem #121120;
    border-left: solid 0.063rem #26243f;
    border-right: solid 0.063rem #26243f;
    border-top: solid 0.063rem #26243f;
    border-bottom: solid 0.063rem #26243f;
    display: flex;
    flex-direction: column;
}

.ml-221 {
    margin-left: 13.81rem;
}
.mt-41 {
    margin-top: 2.56rem;
}
.section_3 {
    padding: 1.6rem 1.35rem 2.38rem 1.35rem;
    background-color: #252525;
    border-radius: 1.25rem;
    height: 20.56rem;
    width: 60%;
    margin: 2%;
}
.font_3 {
    font-size: 1.31rem;
    font-family: Inter;
    line-height: 1.21rem;
    font-weight: 600;
    color: #ffffff;
}
.image_10 {
    width: 2.19rem;
    height: 1.13rem;
}
.text_16 {
    color: transparent;
    font-size: 2.5rem;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.99rem;
    background-image: linear-gradient(244.4deg, #edbaff 0%, #a1ffff 100%);
    -webkit-background-clip: text;
}
.font_2 {
    font-size: 0.88rem;
    font-family: Inter;
    line-height: 0.82rem;
    color: #7a7a7a;
}
.text_19 {
    margin-top: 1.32rem;
    line-height: 0.81rem;
}
.image_11 {
    margin-top: 1.35rem;
    width: 17.69rem;
    height: 2.25rem;
}
.image_12 {
    margin-top: 2.5rem;
    width: 17.5rem;
    height: 2.5rem;
}

.device_light{
    position: absolute;
    width: 32%;
    height: 20.56rem;
    margin: 2%;
    left: 63%;
    top: 4.8%;
    background-color: #252525;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
}

.device_grid{
    height: 30%;
    width: 96%;
    margin-left: 2%;
    margin-top: 3%;
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 0.09rem;
    column-gap: 0.27rem;
    background-image: url(https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/65f7053f5a7e3f0310b909b2/65f7e780731c750011005ca9/17107463954942480081.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0% 100%;
    background-color: #252525;
    border-radius: 1.25rem;
}

.device_grid-item {
    width: 100%;
    height: 90%;
}

.pic{
    width: 95%;
    height: 12%;
    margin: 2%;
    border-radius: 1.25rem;
    background-color: #8ce196;
    background: url("../images/pose/deverse_pciture.png");
    background-size: 50% 100%;
}

.left_viewer{
    width: 18.5%;
    height: 100%;
    background-color: #151423;
    box-shadow: 0rem 0rem 0.19rem #202124 inset, -0.31rem -0.31rem 0.75rem #232239, 0.38rem 0.38rem 0.75rem #121120;
    border-left: solid 0.063rem #26243f;
    border-right: solid 0.063rem #26243f;
    border-top: solid 0.063rem #26243f;
    border-bottom: solid 0.063rem #26243f;
    position: absolute;
    left: 12.3%;
    top: 15%;
}


#clock {
    background: #fff;
    border: 15px solid #222;
    border-radius: 50%;
    position: relative;
    width: 320px;
    height: 320px;
    margin: auto;
}



.clock_li {
    position: absolute;
    transform-origin: 50% 100%;
    height: 160px;
}

.hours {
    font-size: 23.3333333333px;
    letter-spacing: -1.6px;
    line-height: 45px;
    list-style: none;
    top: -16px;
    margin: 0;
    padding: 0;
    left:37%;
    position: absolute;
    text-align: center;
}
.hours li {
    width: 75px;
}
.hours span {
    display: block;
}
/* 以下代码有助于设计数字 1*/
.hours li:nth-of-type(1) {
    transform: rotate(30deg);
}
.hours li:nth-of-type(1) span {
    transform: rotate(-30deg);
}
.hours li:nth-of-type(2) {
    transform: rotate(60deg);
}
.hours li:nth-of-type(2) span {
    transform: rotate(-60deg);
}
/* 以下代码有助于设计数字 3*/
.hours li:nth-of-type(3) {
    transform: rotate(90deg);
}
.hours li:nth-of-type(3) span {
    transform: rotate(-90deg);
}
.hours li:nth-of-type(4) {
    transform: rotate(120deg);
}
.hours li:nth-of-type(4) span {
    transform: rotate(-120deg);
}
/* 以下代码有助于设计数字 5*/
.hours li:nth-of-type(5) {
    transform: rotate(150deg);
}
.hours li:nth-of-type(5) span {
    transform: rotate(-150deg);
}
.hours li:nth-of-type(6) {
    transform: rotate(180deg);
}
.hours li:nth-of-type(6) span {
    transform: rotate(-180deg);
}
/* 以下代码有助于设计数字 7*/
.hours li:nth-of-type(7) {
    transform: rotate(210deg);
}
.hours li:nth-of-type(7) span {
    transform: rotate(-210deg);
}
.hours li:nth-of-type(8) {
    transform: rotate(240deg);
}
.hours li:nth-of-type(8) span {
    transform: rotate(-240deg);
}
/* 以下代码有助于设计数字 9 */
.hours li:nth-of-type(9) {
    transform: rotate(270deg);
}
.hours li:nth-of-type(9) span {
    transform: rotate(-270deg);
}
.hours li:nth-of-type(10) {
    transform: rotate(300deg);
}
.hours li:nth-of-type(10) span {
    transform: rotate(-300deg);
}
/* 以下代码有助于设计数字 11*/
.hours li:nth-of-type(11) {
    transform: rotate(330deg);
}
.hours li:nth-of-type(11) span {
    transform: rotate(-330deg);
}
.hours li:nth-of-type(12) {
    transform: rotate(360deg);
}
.hours li:nth-of-type(12) span {
    transform: rotate(-360deg);
}


.hr-wrapper, .min-wrapper, .sec-wrapper {
    position: absolute;
    width: 320px;
    height: 320px;
}

.hand {
    position: absolute;
    bottom: 50%;
    transform-origin: 50% 100%;
}

.hr {
    background: #222;
    left: 152px;
    width: 13px;
    height: 105px;
    border-radius: 10px;
    animation: rotateHand 43200s linear infinite;
}
.hr:after {
    background: #222;
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    width: 13px;
    height: 16px;
}

.min {
    background: #222;
    left: 155px;
    width: 9px;
    height: 125px;
    border-radius: 8px;
    animation: rotateHand 3600s linear infinite;
}
.min:after {
    background: #222;
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    width: 9px;
    height: 16px;
}

.sec {
    background: #d00;
    left: 156.5px;
    width: 5px;
    height: 132px;
    border-radius: 8px;
    animation: rotateHand 60s linear infinite;
}
.sec:after {
    background: #d00;
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    bottom: -3.5px;
    width: 5px;
    height: 7px;
}

@keyframes rotateHand {
    to {
        transform: rotate(1turn);
    }
}


